Repository scikit-hep/vector, pull requests merged in 2022-10, with the labels that each got.

#233 docs: add a developer guide
  .github/CONTRIBUTING.md
  docs/index.rst
Labels: docs

#275 docs: update changelog.md, PR template, and CONTRIBUTING.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/changelog.md
Labels: docs

#89 feat: add constructors for `VectorObject2D` and `MomentumObject2D`
  docs/changelog.md
  pyproject.toml
  src/vector/_methods.py
  src/vector/backends/awkward.py
  src/vector/backends/numpy.py
  src/vector/backends/object.py
  tests/backends/test_object.py
  tests/compute/planar/test_deltaphi.py
  tests/compute/planar/test_phi.py
  tests/compute/planar/test_rho.py
  tests/compute/planar/test_rho2.py
  tests/compute/planar/test_rotateZ.py
  tests/compute/planar/test_x.py
  tests/compute/planar/test_y.py
  tests/compute/test_add.py
  tests/compute/test_dot.py
  tests/compute/test_equal.py
  tests/compute/test_isclose.py
  tests/compute/test_not_equal.py
  tests/compute/test_scale.py
  tests/compute/test_subtract.py
  tests/compute/test_unit.py
Labels: feature

#280 Dependency
  .github/CONTRIBUTING.md
  pyproject.toml
Labels: tests, dependencies
